.card {
	width: 60vw;
	padding: $padding_unit 20vw;
	margin: 0 auto;
	color: $dark_text;

	&:nth-child(odd) {
		background-color: #edeeef;
	}

	h1 {
		margin-bottom: $padding_unit * 2;
		font-size: 2.5em;
	}

	p {
		color: black;
		opacity: .54;
		font-size: 1.1em;
	}

	a.button {
		display: inline-block;
		border: $padding_unit / 2 solid $dark_text;
		padding: $padding_unit * 2;
		margin: $padding_unit * 2 0;

		color: $dark_text;
		text-decoration: none;
		font-size: 1.1em;

		transition: background-color $animation, color $animation;

		&:hover {
			background-color: $dark_text;
			color: white;
		}
	}
}
