$header_height: 56px;
$header_break: 500px;

#navigation_drawer {
	position: fixed;
	top: 0;
	left: calc(0px - (100vw - 56px) - 30px);
	bottom: 0;
	width: calc(100vw - 56px);
	background-color: white;
	z-index: 1100;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
				0  6px 30px 5px rgba(0, 0, 0, 0.12),
				0  8px 10px -5px rgba(0, 0, 0, 0.4);

	&.open {
		transition: transform $animation;
		transform: translate(calc(100vw - 56px + 30px), 0);
	}
}

@keyframes open {
	from { left: calc(0px - (100vw - 56px)); }
	to { left: 0; }
}
@keyframes close {
	from { left: 0; }
	to { left: calc(0px - (100vw - 56px)); }
}

#header_background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header_height;
	z-index: 900;
	background-color: rgba(0,0,0,.66);
	opacity: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header_height;
	z-index: 1000;

	// Flexbox setup
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: center;

	.menu {
		display: none;
		padding: 12px;
		margin: 4px;

		@media screen and (max-width: #{$header_break}) {
			display: block;
		}
	}

	h1 {
		display: inline-block;
		font-size: 30px;
		line-height: $header_height - $padding_unit;
		vertical-align: middle;
		color: white;
		margin: $padding_unit / 2;
	}

	.navigation {
		// Flexbox setup
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		align-items: stretch;
		align-content: center;

		.link {
			font-size: 20px;
			line-height: $header_height - $padding_unit * 2;

			a {
				display: block;
				width: 100%;
				height: 100%;
				color: white;
				text-decoration: none;
				padding: $padding_unit;
			}
		}

		@media screen and (max-width: #{$header_break}) {
			display: none;
		}
	}

	@media screen and (max-width: #{$header_break}) {
		justify-content: flex-start;
	}
}
