// Colors
$dark_text: #333;
$lighter_grey: #edeeef;
$light_grey: #9e9e9e;
$grey_overlay: rgba(158,158,158,.5);
$darker_white: #e0e0e0;

// Distances
$padding_unit: 8px;

// @media breaks
$mobile_s: 320px;
$mobile_m: 375px;
$mobile_l: 425px;

// MISC
$animation: .3s 0s cubic-bezier(.55,0,.1,1);
