$card_width: 60vw;

.card {
	padding: $padding_unit (100vw - $card_width)/2;
	margin: 0 auto;
	color: $dark_text;

	&:nth-child(odd) {
		background-color: $lighter_grey;
	}

	h2 {
		margin-bottom: $padding_unit * 2;
		font-size: 2.5em;

		@media screen and (max-width: $mobile_s) {
			font-size: 2.0em;
		}
	}

	p {
		color: black;
		opacity: .54;
		font-size: 1.1em;

		@media screen and (max-width: $mobile_s) {
			font-size: 1.0em;
		}
	}

	a.button {
		display: inline-block;
		border: $padding_unit / 2 solid $dark_text;
		padding: $padding_unit * 2;
		margin: $padding_unit * 2 0;

		color: $dark_text;
		text-decoration: none;
		font-size: 1.1em;

		transition: background-color $animation, color $animation;

		&:hover {
			background-color: $dark_text;
			color: white;
		}

		@media screen and (max-width: $mobile_s) {
			padding: $padding_unit;
			margin: $padding_unit 0;
		}
	}

	@media screen and (max-width: 800px) {
		$card_width: 80vw;
		padding: $padding_unit (100vw - $card_width)/2;
	}
	@media screen and (max-width: $mobile_l) {
		$card_width: 90vw;
		padding: $padding_unit (100vw - $card_width)/2;
	}
}
