@import 'variables';
@import 'fonts';

@mixin blur($blur_distance) {
	filter: blur($blur_distance);
	margin: -$blur_distance -$blur_distance * 2 -$blur_distance * 2 -$blur_distance;
}

*, body, html {
	margin: 0;
}

html {
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	// Smooth font hacks
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);

	min-height: 100%;
	// Flexbox setup
	display: flex;
	flex-direction: column;

	& > .card:not(footer) {
		flex: 1 0 auto;
	}
}

header, footer {
	flex: none;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Header
@import 'header';

#home {
	position: relative;
	height: 43.75vw;
	max-height: 90vh;
	overflow: hidden;

	.background_image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-color: $dark_grey;
		background-image: url(../images/banner.jpeg);
		background-repeat: no-repeat;
		background-position: left center;
		@include blur(5px);
	}

	#title {
		padding: $padding_unit;
		text-align: center;

		h1 {
			color: white;
			font-weight: bold;
			font-size: 5.0em;
			margin-bottom: $padding_unit;

			@media screen and (max-width: $mobile_l) {
				font-size: 4.5em;
			}
			@media screen and (max-width: $mobile_m) {
				font-size: 4.0em;
			}
			@media screen and (max-width: $mobile_s) {
				font-size: 3.4em;
			}
		}

		.buttons {
			width: 100%;

			a {
				width: calc(49% - 5% - #{$padding_unit});
				margin: 1.25%;
				padding: 1.25%;
				display: inline-block;
				background: transparent;
				border: $padding_unit / 2 solid white;
				cursor: pointer;

				font-size: 2.4em;
				color: white;
				text-decoration: none;

				transition: background-color $animation, color $animation;
				
				&:hover {
					background-color: white;
					color: $dark_text;
				}

				@media screen and (max-width: $mobile_l) {
					font-size: 1.9em;
				}
				@media screen and (max-width: $mobile_m) {
					font-size: 1.4em;
				}
				@media screen and (max-width: $mobile_s) {
					font-size: 1.1em;
				}
			}
		}
	}
}

// Card style
@import 'card';

// Projects display
.projects {
	// Flexbox setup
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: flex-start;

	.project {
		$width: .24 * $card_width;
		position: relative;
		overflow: hidden;
		width: $width;
		height: $width;
		max-width: 512px;
		max-height: 512px;
		margin: .5%;
		cursor: pointer;
		border-radius: 4px;
		// Shadow
		box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
					0 1px 8px 0 rgba(0, 0, 0, 0.12),
					0 3px 3px -2px rgba(0, 0, 0, 0.4);

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}

		.description {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(255,255,255,.66);
			padding: 2%;

			.title {
				font-size: 1.5em;
			}

			.subtitle {
				color: black;
				opacity: .65;
				font-style: italic;
			}
		}

		&:after {
			content: '\A';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 4px;
			background: rgba(0,0,0,0.66);
			opacity: 0;
			transition: all $animation;
		}

		&:hover:after {
			opacity: 1;
		}

		// Resize on smaller screens
		@media screen and (max-width: 950px) {
			$width: (1/3 - .01) * $card_width; // 1/3 of width
			width: $width;
			height: $width;
		}
		@media screen and (max-width: 800px) {
			$card_width: 80vw;
			$width: .24 * $card_width; // 1/4 of width
			width: $width;
			height: $width;
		}
		@media screen and (max-width: 700px) {
			$card_width: 80vw;
			$width: (1/3 - .01) * $card_width; // 1/3 of width
			width: $width;
			height: $width;
		}
		@media screen and (max-width: 500px) {
			$card_width: 80vw;
			$width: .49 * $card_width; // 1/2 of width
			width: $width;
			height: $width;
		}
		@media screen and (max-width: $mobile_l) {
			$card_width: 90vw;
			$width: .49 * $card_width; // 1/2 of width
			width: $width;
			height: $width;
		}
		@media screen and (max-width: $mobile_s) {
			$card_width: 90vw;
			$width: .99 * $card_width; // Full width
			width: $width;
			height: $width;
		}
	}
}

// Footer
@import 'footer';
